{include file="public/header"/}
<form class="layui-form layui-box modal-form-box" onsubmit="return false;" data-auto="true" method="post">

    <div class="layui-form-item">
        <label class="layui-form-label">用户账号</label>
        <div class="layui-input-block">
            {if $result and $result.username}
            <input readonly="readonly" disabled="disabled" name="username" value='{$result.username|default=""}' required="required" title="请输入用户名称" placeholder="请输入用户名称" class="layui-input layui-bg-gray">
            {else}
            <input name="username" value='{$result.username|default=""}' required="required" title="请输入用户名称" placeholder="请输入用户名称" class="layui-input">
            {/if}
        </div>
    </div>

    <!--{if $verify}-->
    <div class="layui-form-item">
        <label class="layui-form-label">旧的密码</label>
        <div class="layui-input-block">
            <input autofocus name="oldpassword" value='' pattern="^\S{1,}$" required="" title="请输入旧的密码" placeholder="请输入旧的密码" class="layui-input">
        </div>
    </div>
    <!--{/if}-->

    <div class="layui-form-item">
        <label class="layui-form-label">新的密码</label>
        <div class="layui-input-block">
            <input name="password" value='' pattern="^\S{1,}$" required="" title="请输入新的密码" placeholder="请输入新的密码" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">重复密码</label>
        <div class="layui-input-block">
            <input name="repassword" value='' pattern="^\S{1,}$" required="" title="请输入重复密码" placeholder="请输入重复密码" class="layui-input">
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <input type='hidden' value='{$result.id}' name='id'>
        <button class="layui-btn" type='submit' id='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" id='close' type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>

</form>
<script>
    $(function () {
        var parentIndex = parent.layer.getFrameIndex(window.name); //获取窗口索引
        $('#submit').click(function () {
            $.post('/admin/admin/pass',formToJson($('form')),function (response) { 
                if(response.code==1){
                    layer.msg(response.msg,{
                        icon:1,
                        time:1000
                    },function () {
                        parent.layer.close(parentIndex);
                        parent.location.href = response.url;
                    });
                }else{
                    layer.msg(response.msg,{
                        icon:2,
                        time:2000
                    },function(){
                        parent.layer.close(parentIndex);
                    }); 
                }
            },'json');
        });

        $('#close').click(function () {
            parent.layer.close(parentIndex); 
        });
    });
</script>
{include file="public/bottom"/}